#Canvas {
    position: absolute;
    z-index: 10;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
}

.section {
    margin-bottom: 70px;
}

h2 {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.MapContainer {
    display: none; /* Initially hidden */
    width: 40%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px; /* Increased gap to create larger pathways */
    grid-template-rows: repeat(6, 1fr);
    height: 600px;
    position: relative;
}

.map .map-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f09e;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    z-index: 20;
}

.map .checkout {
    grid-column: 1 / 3;
    background-color: #ffc107;
    position: absolute;
    bottom: 50px; /* Raised by 20px */
    left: 50%;
    transform: translateX(-50%);
}

.map #electronics {
    position: absolute;
    bottom: 30px; /* Adjusted to place on the right side of checkout */
    left: calc(50% + 145px);
}

.map #produce {
    position: absolute;
    bottom: 30px; /* Adjusted to place on the left side of checkout */
    left: calc(50% - 245px); /* Adjusted to add more space */
}
